services:
  jekyll:
    container_name: jekyll
    # image: jekyll-site
    build: .
    volumes:
      - .:/usr/src/app
    ports:
      # for prod:
      # - 127.0.0.1:4999:4000/tcp
      # for dev:
      - 4999:4000/tcp
    user: 1000:1000
    environment:
      - JEKYLL_ENV=docker
    # arguments: https://jekyllrb.com/docs/configuration/options/
    command: jekyll serve -H 0.0.0.0 --incremental --config _config.yml,_config_docker.yml
    labels: ["com.centurylinklabs.watchtower.scope=autoupdate"]
    security_opt:
    - no-new-privileges:true
    pull_policy: always
    restart: unless-stopped

