<details>
<summary>My stance on AI and blogging</summary>

In general LLMs are tools I use a lot, including to write things. Here are my guarantees this isn't adversarial:
<ul>
<li>I spend as much attention on each post as you would expect from a human written blog. No "write a post about X", think instead "reformulate the 3rd argument in the style of Y".</li>
<li>The ideas are authentic, the style isn't. My english is pretty good, <i>for a frenchman</i>. So you don't want to read my original prose anyway, trust me.</li>
<li>No SEO optimization. I want to convey <i>my</i> thoughts, not increase traffic or steal attention.</li>
<li>I opted for AI-aided post rather than not putting my thoughts on the internet.</li>
<li>Using LLMs for writing makes me learn a ton because my prompts are optimized for internal thought clarification and steel manning. It's really just the continuation of using LLMs to criticize flaws in my reasonning</li>
</ul>

</details>
