<details>
<summary>My stance on AI and blogging</summary>

In general LLMs are tools I use a lot, including to write things. Here are my guarantees this isn't adversarial:
<li>
<ul>I spend as much attention on each post as you would expect from a human written blog. No "write a post about X", think instead "reformulate the 3rd argument in the style of Y".</ul>
<ul>The ideas are authentic, the style isn't. My english is pretty good, <i>for a frenchman</i>. So you don't want to read my original prose anyway, trust me.</ul>
<ul>No SEO optimization. I want to convey <i>my</i> thoughts, not increase traffic or steal attention.</ul>
<ul>I opted for AI-aided post rather than not putting my thoughts on the internet.</ul>
<ul>Using LLMs for writing makes me learn a ton because my prompts are optimized for internal thought clarification and steel manning. It's really just the continuation of using LLMs to criticize flaws in my reasonning</ul>
</li>

</details>
