<div class="notice--warning">
  <strong>Ma position sur l'IA et le blogging</strong>
  <p>En général, les LLMs sont des outils que j'utilise beaucoup, y compris pour écrire. Voici mes garanties que ce n'est pas du contenu adversarial :</p>
  <ul>
    <li>Je consacre autant d'attention à chaque article que ce que vous attendriez d'un blog écrit par un humain. Pas de « écris un article sur X », pensez plutôt « reformule le 3e argument dans le style de Y ».</li>
    <li>Les idées sont authentiques, le style ne l'est pas. Mon anglais est plutôt bon, <i>pour un français</i>. Donc vous ne voudriez pas lire ma prose originale, croyez-moi.</li>
    <li>Pas d'optimisation SEO. Je veux transmettre <i>mes</i> pensées, pas augmenter le trafic ou voler l'attention.</li>
    <li>J'ai opté pour des articles assistés par IA plutôt que de ne pas publier mes réflexions sur internet.</li>
    <li>Utiliser les LLMs pour écrire m'apprend énormément car mes prompts sont optimisés pour la clarification interne de mes pensées et le steel manning. C'est vraiment la continuation de l'utilisation des LLMs pour critiquer les failles de mon raisonnement.</li>
  </ul>
</div>
