{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<!-- make sure the referer is in an appropriate format for umami
source: https://gist.github.com/ColourfulField/a40a7081414299e64930d2a7ff3069cc -->
<script>
    const queryParams = new URLSearchParams(window.location.search);
    function normalizeHostname(input) {
        // Remove protocol, www, and any path
        let hostname = input.replace(/^(https?:\/\/)?(www\.)?/, '').split('/')[0];

        // Remove invalid characters, keep only alphanumeric, dots, and hyphens
        hostname = hostname.replace(/[^a-zA-Z0-9.-]/g, '');

        // Ensure it starts and ends with alphanumeric
        hostname = hostname.replace(/^[^a-zA-Z0-9]+|[^a-zA-Z0-9]+$/g, '');

        if (!hostname.includes('http://')) {
            hostname = 'http://' + hostname;
        }

        return hostname;
    }

    var initialRef = document.referrer;
    Object.defineProperty(document, "referrer", {
        get:
            function () {
                let refFromQuery = queryParams.get('ref') || queryParams.get('referer') || queryParams.get('referrer') || queryParams.get('utm_source');
                refFromQuery = normalizeHostname(refFromQuery);
                let ref = refFromQuery || initialRef;
                console.log(ref);
                return ref;

            }
    });
</script>

<!-- Privacy preserving analytics by umami -->
<script
        defer
        src="https://u.olicorne.org/getinfo"
        data-website-id="d451822f-4f2b-43d3-a13d-681ae47a7c8b"
        data-do-not-track="false"
        >
</script>
