---
layout: archive
title: "Publications"
ref: papers
permalink: /fr/papers
author_profile: true
lang: fr
---

**Note :** Ce site web est actuellement en cours de migration multilingue. Le contenu original et à jour est en anglais. Les pages françaises n'ont pas encore été mises à jour. En attendant, il est recommandé de consulter [la version anglaise](../en). Merci de votre patience !
{: .notice--info}

{% if site.author.googlescholar %}
  <div class="wordwrap">Vous pouvez également trouver mes articles sur <a href="{{site.author.googlescholar}}">mon profil Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign filtered_posts = site.publications | where:"lang", page.lang | reverse %}
    {% for post in filtered_posts %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign filtered_posts = site.publications | where:"lang", page.lang | reverse %}
  {% for post in filtered_posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


